
      <ul class="flex justify-between items-center bg-primary container-fluid p-3">
        <li class="w-10">
          <%= link_to image_tag('backarrow.png', alt: 'Back'), root_path, class: 'nav-link bg-primary' %>
        </li>
        <h2><strong class="text-white">Categories</strong></h2>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-white" %>
        </li>
      </ul>
    <div class="container-fluid">
<div class="navigation py-6 px-3 ">
    <div class="px-5">
      <p style="color: green"><%= notice %></p>
      <div id="categories">
        <% @categories.each do |category| %>
          <a href="<%= category_path(category) %>" class="m-1">
            <%= render category %>
          </a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= link_to new_category_path do %>
      <div class="w-full green-btn flex">
        <button class="p-2 py-4 m-4 text-lg w-full border text-white btn btn-primary">
          <strong>Add a New Category</strong>
        </button>
      </div>
    <% end %>
  </div>
</div>