
      <ul class="flex justify-between items-center bg-primary container-fluid p-3">
        <li class="w-10">
          <%= link_to image_tag('backarrow.png', alt: 'Back'), root_path, class: 'nav-link bg-primary' %>
        </li>
        <h2><strong class="text-white">Categories</strong></h2>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-white" %>
        </li>
      </ul>
    <div class="container-fluid">
<div class="navigation py-6 px-3 ">
    <div class="px-5">
      <p style="color: green"><%= notice %></p>
      <div id="categories">
        <% @categories.each do |category| %>
          <a href="<%= category_path(category) %>" class="m-1">
            <%= render category %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
<footer class="container-fluid mt-3 p-1", style="background-color: rgb(100, 182, 37);height:80px; position: fixed; bottom: 0; left: -5px; right:-5px">
<div class=" border border-cyan-50 m-2 p-2" style="height:50px; margin-left:30px; margin-right:30px; display: flex; justify-content: center ">
    <%= link_to new_category_path do %>
      
        <button class="btn text-white container text-center", style="background-color: rgb(100, 182, 37);">
          <strong>Add a New Category</strong>
        </button>
     
    <% end %>
  </div>
</footer>